.c-average-temperature {
  font-weight: 600;
  font-size: 120px;
  line-height: 120px;

  &__dates {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #08153E;
    opacity: 0.6;
  }

  &__degree {
    vertical-align: text-top;
    font-size: 24px;
    line-height: 75px;
  }
}
