.c-location-search {
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  &__weather-icon {
    height: 40px;
    width: 40px;
  }

  &__country-select {
    img {
      padding-right: 4px;
    }
  }

  &__city-search {
    position: relative;
  }

  &__city-search.ng-select-focused .ng-select-container {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 3px rgb(0 126 255 / 10%);
    border-color: #007eff;
  }

  &__search-icon {
    position: absolute;
    right: 40px;
    top: 11px;
  }

  .ng-option,
  .ng-value {
    display: flex !important;
    align-items: center;
  }

  .ng-value {
    margin: 0 5px;
  }
}
