.c-next-seven-days-forecast {

  &__day {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #08153E;
    opacity: 0.6;
  }

  &__temp {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  &__degree {
    font-size: 14px;
    vertical-align: text-bottom;
    line-height: 24px;
  }
}