// Import normalize
@import '~normalize.css';

// Import Bootstrap
@import '~node_modules/bootstrap/scss/bootstrap.scss';

// Import styles for select
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "./layout/body.layout";
@import "./components/location-search.component.scss";
@import "./components/average-temperature.components";
@import "./components/next-seven-days-forecast.components";